<div class="grid place-content-center h-full bg-gray-50">
  <!-- Card -->
  <div class="rounded overflow-hidden shadow-lg p-6 bg-white">
    <form novalidate [formGroup]="temperatureForm" (ngSubmit)="onSubmit()">
      <!-- Form controls -->
      <div class="flex mb-4">
        <!-- Degrees control-->
        <div class="w-24 mr-3">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="degree">
            Degrees
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
            id="degree" type="text" placeholder="E.g: 32" formControlName="degree">
        </div>
        <!-- Type control -->
        <div class="shrink mr-3">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="conversionFromType">
            From
          </label>
          <div class="inline-block relative">
            <select
              class="select-dropdown"
              id="conversionFromType" formControlName="conversionFromType">
              <option value="">Select a type</option>
              <option *ngFor="let type of temperatureTypes" [value]="type">{{type}}</option>
            </select>
            <ng-container [ngTemplateOutlet]="chevron"></ng-container>
          </div>
        </div>
      </div>
      <!-- Validations -->
      <span class="validation-text" *ngIf="degree.errors?.pattern && degree.touched">Just numbers are valid</span>
      <span class="validation-text" *ngIf="degree.errors?.required && degree.touched">Enter a number</span>
      <span class="validation-text" *ngIf="!conversionFromType.value && conversionFromType.touched">You must select a conversion type</span>
      
      <!-- Form controls -->
      <div class="flex items-end mt-2 mb-4">
        <!-- Type control -->
        <div class="shrink mr-3">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="conversionToType">
            To
          </label>
          <div class="inline-block relative">
            <select
              class="select-dropdown"
              id="conversionToType" formControlName="conversionToType">
              <option value="">Select a type</option>
              <option *ngFor="let type of temperatureTypes" [value]="type">{{type}}</option>
            </select>
            <ng-container [ngTemplateOutlet]="chevron"></ng-container>
          </div>
        </div>
        <!-- Action button -->
        <button
          class="w-15 h-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none"
          type="submit">
          Convert
        </button>
      </div>
      <!-- Validations -->
      <span class="validation-text" *ngIf="!conversionToType.value && conversionToType.touched">You must select a conversion type</span>
      <span class="validation-text" *ngIf="isSameConversionType && conversionToType.touched">The conversion types must be different from each other</span>
    </form>


    <!-- Result -->
    <div class="mt-3">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Result
      </label>
      <p>{{result}}</p>
    </div>
  </div>
</div>

<ng-template #chevron>
  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
    </svg>
  </div>
</ng-template>